footer {
    background-color: darkslategray;
    bottom:0;
}
.wrapper {
    background-color: #050511;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}
.basket {
    margin-left: 15%;
    max-width: 70%;
}
.basket, .basket-item {
    padding: 25px;
}
.basket-item {
    min-height: 200px;
}
.basket-item img {
    max-height: 150px;
    max-width: 125px;
}
.basket-item input {
    max-width: 75px;
}
.card {
    height: 450px;
    width: auto;
    padding: 15px;
    margin-bottom: 20px;
}
.card img {
    min-height: 100px;
    max-height: 250px;
    min-width: 40px;
    max-width: 150px;
    margin-left: 25px;
    position: static;
}
.card-list {
    margin-right: 40px;
}
.card-title {
    margin: 0 auto;
}
.carousel-container {
    padding: 40px 75px 40px 75px;
}
.carousel {
    width: 720px;
}
.carousel-item {
    height: 228px;
}
.item, img{
    position: absolute;
    object-fit:cover;
    height: 100% !important;
    width:  100% !important;
}
.product-carousel {
    width: 400px;
}
.product-info {
    padding: 50px;
}
.product-description {
    padding: 20px;
}
.main-content {
    margin-top: 50px;
}
.more-link {
    padding-top: 15px;
    float: right;
}
.more-link a {
    color: white;
}
.more-link a:hover {
    color: dodgerblue;
    text-decoration: none;
}
.left-sidebar {
    left: 0;
    position: absolute;
}
.left-sidebar div {
    position: fixed;
}
.sidebar-btn {
    margin: 15px 0 15px;
}
.signup-form {
    padding: 25px;
    margin: 0 auto;
}
.signup-form button, .signin-form button {
    margin: 0 auto;
}
.signin-form {
    padding: 100px 25px 100px 25px;
    margin: 0 auto;
}
.site-description {
    padding-top: 100px;
    padding-bottom: 50px;
}
.social-links a{
    font-size:24px;
}
.sort-menu {
    float: right;
    padding: 15px 75px 15px 15px;
}
@media(max-width:720px) {
    .carousel {
        width: 400px;
    }
    .carousel-item {
        height: 150px;
    }
    .item, img{
        position: absolute;
        height: 100% !important;
        width:  100% !important;
    }
}
